<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <action id="org.rtrusttunnel.configure">
    <description>Configure R-TrustTunnel host service</description>
    <description xml:lang="ru">Настроить системную службу R-TrustTunnel</description>
    <message>Administrator authorization is required to enable system VPN for this desktop user.</message>
    <defaults><allow_any>no</allow_any><allow_inactive>no</allow_inactive><allow_active>auth_admin</allow_active></defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/rtrust/enable-service</annotate>
  </action>
</policyconfig>
